body {
	background-color: #aabbcc;
}

.contain {
	width: 960px;
	margin: 0 auto;
}

#body-header {
	width: 350px;
	margin: 0 auto;	
}

#title-header {
	width: 450px;
	margin: 0 auto;
	text-align: center;	
}