.nav {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 62.5%;
	font-family: futura, sans-serif;
}

.nav a {
	font-size: 1.5em;
	padding-right: 1em;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 100%;
}