@-webkit-keyframes fullRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }
@keyframes fullRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100%; }

h1, h2, p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, p, li {
  text-transform: uppercase; }

section {
  height: 750px;
  position: relative;
  width: 100%; }
  section img, section .triangle, section .circle {
    display: block;
    margin: 0 auto; }

.content-wrapper > h1, h2, ul, p {
  text-align: center; }

.content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%; }

.body-title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2.5px; }

footer {
  height: 300px;
  position: relative;
  width: 100%; }

#intro {
  background-color: #272729; }
  #intro h1, #intro ul {
    color: #22c1ee; }
  #intro h1, #intro h2, #intro ul {
    font-weight: 300; }
  #intro h1 {
    font-size: 83px;
    letter-spacing: 3px; }
  #intro hr {
    border: 1px solid #363638;
    width: 80px; }
  #intro h2 {
    color: #fafafb;
    font-size: 65px;
    letter-spacing: 3px;
    margin-bottom: 10px; }
  #intro ul {
    font-size: 18px;
    letter-spacing: 1.2px; }
  #intro li {
    display: inline-block; }

#dead-center {
  background-color: #22c1ee; }
  #dead-center .content-wrapper {
    width: auto; }
  #dead-center h1 {
    border: 2px solid #fdfcfc;
    color: #fdfcfc;
    padding: 110px 48px;
    margin: 0 auto;
    border-radius: 3px; }

#css-triangle {
  background-color: #fdfcfc; }
  #css-triangle .triangle {
    border-top: 260px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 260px solid #22c1ee;
    height: 0;
    margin-bottom: 70px;
    width: 0; }

#logo-animation {
  background-color: #272729; }
  #logo-animation .logo-animation-wrapper {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 80px; }
  #logo-animation img {
    width: 160px;
    -webkit-animation: fullRotation 2s infinite linear;
            animation: fullRotation 2s infinite linear; }
  #logo-animation h1 {
    color: #fdfcfc; }

#circle-zoom {
  background-color: #22c1ee;
  overflow: hidden; }
  #circle-zoom .circle {
    background-color: #fdfcfc;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out; }
  #circle-zoom .circle:hover {
    -webkit-transform: scale(11);
    -ms-transform: scale(11);
    transform: scale(11); }
  #circle-zoom h1 {
    margin-top: 50px; }

#responsive {
  background-color: #fdfcfc;
  height: 100%; }
  #responsive h1, #responsive p {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    transition: font-size .2s linear; }
  #responsive h1 {
    color: #272729;
    font-size: 65px;
    padding-top: 100px; }
  #responsive p {
    color: #22c1ee;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 21px;
    margin-top: 40px;
    margin-bottom: 125px; }
  #responsive .grid {
    margin: 0 auto;
    text-align: center;
    width: 100%; }
  #responsive .square {
    background-color: #fdfcfc;
    display: inline-block;
    height: 200px;
    margin: 0 8%;
    margin-bottom: 8%;
    width: 200px;
    border-radius: 3px; }
  #responsive .square:nth-child(odd) {
    border: 3px solid #22c1ee; }
  #responsive .square:nth-child(even) {
    border: 3px solid #272729; }

#form {
  background: url("http://placekitten.com/1400/750") no-repeat center;
  background-size: cover; }
  #form h1 {
    color: #22c1ee;
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 170px; }
  #form form {
    border: 5px solid rgba(225, 225, 225, 0.3);
    margin: 0 auto;
    padding: 70px 20px;
    position: relative;
    text-align: left;
    width: 70%; }
  #form img {
    display: inline-block;
    position: absolute;
    top: 67px;
    width: 45px; }
  #form input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #fdfcfc;
    color: #22c1ee;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 60px;
    padding-bottom: 20px;
    width: 91%;
    outline: none; }

#experience {
  background-color: #22c1ee; }
  #experience .circle-stroke {
    border: 3px solid #fdfcfc;
    border-radius: 50%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 400px;
    transition: all 0.5s linear; }
  #experience span {
    color: #fdfcfc;
    display: block;
    font-size: 100px;
    font-weight: 100;
    transition: font-size 0.5s linear; }
  #experience h1 {
    color: #272729;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    width: 100%;
    transition: font-size 0.5s linear; }

#love {
  background-color: #fdfcfc; }
  #love img {
    position: relative;
    top: 19px;
    width: 130px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  #love img:hover {
    -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
            transform: rotate(359deg);
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear; }
  #love h1 {
    font-size: 90px; }

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0; }

@media screen and (max-width: 750px) {
  section {
    height: 500px; }

  .body-title {
    font-size: 30px;
    letter-spacing: 2px; }

  #intro h1 {
    font-size: 50px;
    line-height: 60px; }
  #intro h2 {
    font-size: 40px; }

  #responsive h1, #responsive p {
    transition: font-size .2s linear; }
  #responsive h1 {
    font-size: 30px; }
  #responsive p {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 60px;
    min-width: 310px; }

  #experience .circle-stroke {
    height: 250px;
    width: 250px;
    transition: all 0.5s linear; }
  #experience span {
    font-size: 70px;
    transition: font-size 0.5s linear; }
  #experience h1 {
    font-size: 15px;
    transition: font-size 0.5s linear; }

  #form h1 {
    font-size: 50px;
    line-height: 60px; }
  #form input {
    font-size: 15px;
    width: 78%; }

  #love h1 {
    font-size: 50px; }
  #love img {
    width: 91px; } }
