// bower:scss
// endbower

// MEDIA QUERIES. STYLES AT BOTTOM OF SHEET

$break-small: 750px;

// SASS VARIABLES

$dark-gray: #272729;
$white: #fdfcfc;
$blue: #22c1ee;

// KEYFRAME ANIMATIONS

@-webkit-keyframes fullRotation {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

@keyframes fullRotation {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

// SASS MIXIN

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Selector properties are listed in ALPHABETICAL order 

// GLOBAL STYLES

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 100%;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, p, li {
  text-transform: uppercase;
}

section {
  height: 750px;
  position: relative;
  width: 100%;

  img, .triangle, .circle {
    display: block;
    margin: 0 auto;
  }
}

.content-wrapper > h1, h2, ul, p {
  text-align: center;
}

.content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.body-title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

footer {
  height: 300px;
  position: relative;
  width: 100%;
}

// BEGIN BODY STYLES

// INTRO SECTION

#intro {
  background-color: $dark-gray;

  h1, ul {
    color: $blue;
  }

  h1, h2, ul {
    font-weight: 300;
  }

  h1 {
    font-size: 83px;
    letter-spacing: 3px;
  }

  hr {
    border: 1px solid #363638;
    width: 80px;
  }

  h2 {
    color: #fafafb;
    font-size: 65px;
    letter-spacing: 3px;
    margin-bottom: 10px;
  }

  ul {
    font-size: 18px;
    letter-spacing: 1.2px;
  }

  li {
    display: inline-block;
  }

}

// DEAD CENTER SECTION

#dead-center {
  background-color: $blue;

  .content-wrapper {
    width: auto;
  }

  h1 {
    border: 2px solid $white;
    color: $white;
    padding: 110px 48px;
    margin: 0 auto;
    @include border-radius(3px);
  }

}

// CSS-TRIANGLE

#css-triangle {
  background-color: $white;

  .triangle {
    border-top: 260px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 260px solid $blue;
    height: 0;
    margin-bottom: 70px; 
    width: 0;
  }

}

// LOGO ANIMATION

#logo-animation {
  background-color: $dark-gray;

  .logo-animation-wrapper {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  img {
    width: 160px;
    -webkit-animation: fullRotation 2s infinite linear; /* Safari 4+ */
    animation:         fullRotation 2s infinite linear; /* IE 10+, Fx 29+ */
  }

  h1 {
    color: $white;
  }

}

// CIRCLE ZOOM

#circle-zoom {
  background-color: $blue;
  overflow: hidden;

  .circle {
    background-color: $white;
    width: 130px;
    height: 130px;
    @include border-radius(50%);
    transition: transform .6s ease-in-out;
  }

  .circle:hover {
    -webkit-transform: scale(11);
        -ms-transform: scale(11);
            transform: scale(11);
  }

  h1 {
    margin-top: 50px;
  }
}

#responsive {
  background-color: $white;
  height: 100%;

  h1, p {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    transition: font-size .2s linear;
  }

  h1 {
    color: $dark-gray;
    font-size: 65px;
    padding-top: 100px;
  }

  p {
    color: $blue;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 21px;
    margin-top: 40px;
    margin-bottom: 125px;
  }

  .grid {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .square {
    background-color: $white;
    display: inline-block;
    height: 200px;
    margin: 0 8%;
    margin-bottom: 8%;
    width: 200px;
    @include border-radius(3px);
  }

  .square:nth-child(odd) {
    border: 3px solid $blue;
  }

  .square:nth-child(even) {
    border: 3px solid $dark-gray;
  }
}

#love {
  background-color: $white;

  img {
    position: relative;
    top: 19px;
    width: 130px;
    transform: rotate(0deg);
  }

  img:hover {
    transform: rotate(359deg);
    transition: transform 1s linear;
  }

  h1 {
    font-size: 90px;
  }
}

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

@media screen and (max-width: $break-small) {

  #responsive {

    h1, p {
      transition: font-size .2s linear;
    }

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
      letter-spacing: 1px;
      margin-top: 30px;
      margin-bottom: 60px;
      min-width: 310px;
    }
  }

}
