// bower:scss
// endbower

// BREAKPOINTS
$break-xl: 1400px;
$break-lrg: 1263px;
$break-form-lrg: 1021px;
$break-med: 1010px;
$break-form-med: 820px;
$break-sm: 720px;
$break-sm-footer-tweak: 600px;
$break-sm-clients-tweak: 588px;
$break-sm-tweak: 550px;
$break-xs: 350px;

// VARIABLES
$link-color: #f48119;

// Typefaces: Cabin Regular & Medium
@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic);

@font-face{
  font-family:'BentonSans Bold';
  src: url('fonts/BentonSans_Bold.otf'); /* everyone else take this */
}

@font-face{
  font-family:'BentonSans Comp Medium';
  src: url('fonts/BentonSans_Comp_Medium.otf'); /* everyone else take this */
}

@font-face{
  font-family:'BentonSans Comp Bold';
  src: url('fonts/BentonSans_Comp_Bold.otf'); /* everyone else take this */
}

// KEY-FRAMES
@-webkit-keyframes bgrdRotate {
  0% {transform: rotate(359deg);}
  100% {transform: rotate(0deg);}
}

@keyframes bgrdRotate {
  0% {transform: rotate(359deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes socialWiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(20deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-20deg);}
  100% {transform: rotate(0deg);}
}

@keyframes socialWiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(6deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-6deg);}
  100% {transform: rotate(0deg);}
}

body {
  color: #333;
  margin: 0 auto;
}

section {
  padding: 90px 80px;
}

h1 {
  font-size: 47px;
  font-family: 'BentonSans Bold', helvetica, sans-serif;
  font-weight: 400;
  display: inline-block;
  margin: 0;
}

p {
  color: #666666;
  font-size: 15px;
  font-family: 'Cabin', helvetica, sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: 'BentonSans Comp Medium', helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: $link-color;
  text-decoration: none;
}

// Highlight //

::-moz-selection { background: transparent; }
::selection { background: transparent; }
h1::-moz-selection { background: #F2F7D5; }
h1::selection { background: #F2F7D5; }
p::-moz-selection { background: #F2F7D5; }
p::selection { background: #F2F7D5; }
a::-moz-selection { background: #F2F7D5; }
a::selection { background: #F2F7D5; }

// Fixed Nav //

.primary-nav-wrapper {
  background-color: #fff;
  height: 53px;
  padding-top: 26px;
  padding-bottom: 22px;
  position: absolute;
  top: 46px;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition-property: height, padding-top, padding-bottom;

  h1 {
    font-size: 41px;
    height: 53px;
  }

  .activ8-logo {
    margin-right: 30px;
    padding-left: 50px;
    width: 300px;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }

  .primary-nav {
    bottom: 8px;
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    position: relative;
  }

  li {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.7px;
    margin-right: 40px;
    text-transform: uppercase;
  }

  li:last-of-type {
    margin-right: 0;
  }

}

.primary-nav-wrapper.primary-nav-wrapper-shrink {
  height: 35px;
  opacity: .93;
  padding-top: 18px;
  padding-bottom: 18px;
  position: fixed;
  top: 0;

  h1 {
    height: 35px;
  }

  .activ8-logo {
    margin-right: 30px;
    padding-left: 50px;
    padding-bottom: 3px;
    width: 200px;
  }

}

// Background Wrappers

.intro-wrapper, #whatWeDo, #ourClients, #contact {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.intro-background {
    content: "";
    height: 183%;
    position: absolute;
    top: -28%;
    left: -2.5%;
    width: 105%;
    z-index: -1;
    background: url("../images/header-ring-green.svg") no-repeat;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: center;
    background-size: 113%;
  }

.contact-us-background {
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 8px;

  .contact-us-wrapper {
    text-align: right;
    width: 100%;
    margin: 0 auto;
    position: relative;
    right: 75px;
  }

  div {
    display: inline-block;
  }

  .email {
    margin-right: 20px;
  }

  img {
    width: 23px;
    margin-right: 6px;
  }

  .phone img {
      position: relative;
      width: 25px;
      top: 1px;
  }

  p {
    display: inline-block;
    font-size: 13.5px;
    letter-spacing: 0.4px;
    margin: 0;
    position: relative;
    bottom: 4px;
  }

}

#aboutUs {
  height: 662px;
  max-width: 1280px;
  margin: 0 auto;

  .about-us-copy {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
    max-width: 600px;
    // width: 47%;
    // max-width: 600px;
    position: relative;
    top: 55%;
    transform: translateY(-55%);
  }
  
  h1 {
    color: #f89d43;
  }

  p {
  }
}

.section-wrapper {
  max-width: 1280px;
  padding: 100px 80px;
  text-align: center;
  margin: 0 auto;
}

.what-we-do-background {
  content: "";
  height: 118%;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: url("../images/services-ring-orange.svg") no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-position: center;
  background-size: 120%;
}

#whatWeDo {
  background-color: transparent;

  .center-copy {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 780px;

    h1 {
      color: #cadc59;
    }
  }

  .services-wrapper {
    margin-top: 50px;

    .col {
      display: inline-block;
      width: 32%;
    }

    img {
      width: 50%;
      max-width: 150px;
    }

    p {
      display: inline-block;
      font-family: 'BentonSans Comp Medium', helvetica, sans-serif;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 0.7px;
      width: 100%;
    }
  }

}

.our-clients-background {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: url("../images/clients-ring-red.svg") no-repeat;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background-position: center;
  background-size: 140%;
}

#ourClients {

  .client-copy {
    text-align: center;
    margin-bottom: 30px;
    max-width: 1250px;
  }

  h1 {
    color: #ff7a7a;
  }

  .client-logo-grid {
    text-align: center;
    max-width: 1250px;
  }

  img {
    padding: 15px;
  }

}

.contact-background-element {
  content: "";
  bottom: -10%;
  height: 225%;
  left: -5%;
  position: absolute;
  width: 109%;
  z-index: -1;
  background: url("../images/contact-ring-blue.svg") no-repeat;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background-position: center;
  background-size: 80%;
  -webkit-animation: bgrdRotate 145s infinite linear;
  animation: bgrdRotate 145s infinite linear;
}

.contact-background-color {
  background-color: #0080b2;
  z-index: -2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#contact {
  // padding-bottom: 45px;
  height: 540px;

  .copy-and-social-wrapper {
    display: block;
    max-width: 340px;
    min-width: 274px;
    text-align: left;
    width: 29%;
  }

  h1, p {
    color: #fff;
  }

  .upper-contact-social-wrapper {
    margin-top: 47px;
    margin-left: -14px;

    img {
      bottom: 0;
      margin-right: 12px;
      position: relative;
      width: 35px;
      -webkit-transition: bottom 0.2s cubic-bezier(0, 0, 0.35, 1);
      -moz-transition: bottom 0.2s cubic-bezier(0, 0, 0.35, 1);
      transition: bottom 0.2s cubic-bezier(0, 0, 0.35, 1);
    }

    img:hover {
      bottom: 7px;
      -webkit-animation: socialWiggle .28s 2 ease;
      animation: socialWiggle .28s 2 ease;
    }
  }

  .lower-contact-social-wrapper {
    display: none;
  }

  form {
    display: inline-block;
    position: absolute;
    right: 50px;
    text-align: left;
    top: 98px;
    width: 50%;

    input, textarea {
      font-family: 'Cabin', helvetica, sans-serif;
      font-style: italic;
      font-weight: 100;
      letter-spacing: 0.8px;
    }

    input {
      background-color: #0091be;
      border: 1px solid #fff;
      color: #fff;
      font-size: 15px;
      height: 35px;
      margin: 0 15px 20px 0;
      padding-left: 10px;
      width: 44%;
    }

    textarea {
      background-color: #0091be;
      border: 1px solid #fff;
      color: #fff;
      font-size: 15px;
      height: 161px;
      margin: 0 0 15px 0;
      padding: 10px 0 0 10px;
      width: 94.2%;
    }

    .send-button {
      background-color: #fff;
      color: #0091be;
      cursor: pointer;
      font-family: 'BentonSans Bold', helvetica, sans-serif;
      font-weight: 100;
      font-style: normal;
      letter-spacing: 0.75px;
      line-height: 34px;
      text-transform: uppercase;
      width: 150px;
      height: 38px;
      -webkit-transition: .75s background-color, .75s color;
      -moz-transition: .75s background-color, .75s color;
      transition: .75s background-color, .75s color;
    }

    .send-button:hover {
      background-color: #0091be;
      color: #fff;
    }
  }
}

footer {
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 0.4px;
  padding: 30px 80px;

  p {
    display: inline-block;
    font-size: 13px;
    margin-top: 0;
  }

  a {
    color: #626262;
  }

  .footer-nav {
    display: inline-block;
    float: right;
    position: relative;
    top: 2.7px;

    li {
      display: inline-block;
      list-style: none;
      padding: 0 14px;
    }
  }
}

@media screen and (min-width: $break-xl) {

  .intro-background {
    background-size: 1660px;
  }

}

@media screen and (max-width: $break-lrg) {

  h1 {
    font-size: 40px;
  }

  #whatWeDo {

    .section-wrapper {
    }

    img {
      padding: 10px;
      width: 270px;
    }

    .center-copy {
      padding: 10px;
      padding-bottom: 0;
      bottom: 12px;
    }

    h1 {
    }

    p {
      margin-top: 12px;
    }
  }

}

@media screen and (max-width: $break-form-lrg) {

  #contact {

    .copy-and-social-wrapper {
      width: 29%;
      max-width: 340px;
      min-width: 274px;
    }

    .upper-contact-social-wrapper {

      img {
      }
    }

    form {
      position: absolute;
      right: 10px;
      top: 92px;
      width: 50%;

      input {
        font-size: 15px;
        width: 40%;
      }

      textarea {
        font-size: 15px;
        height: 161px;
        margin: 0 0 15px 0;
        padding: 10px 0 0 10px;
        width: 86.6%;
      }

      .send-button {
        letter-spacing: .75px;
        width: 150px;
        height: 38px;
      }

      .send-button:hover {
      }
    }
  }

}

@media screen and (max-width: $break-med) {

  h1 {
    font-size: 32px;
  }

  .primary-nav-wrapper {
    height: 78px;
    padding-top: 24px;
    padding-bottom: 26px;
    text-align: center;

    h1 {
      // margin-bottom: 15px;
    }

    .activ8-logo {
      padding-left: 0;
      margin-right: 0;
    }

    .primary-nav {
      bottom: 0;
      display: block;
      font-size: 15px;
      padding-top: 5px;
      margin-left: 0;
    }

    li {
      display: inline-block;
      font-size: 14px;
      margin-right: 30px;
      text-transform: uppercase;
    }

    li:last-of-type {
      margin-right: 0;
    }

  }

  .primary-nav-wrapper.primary-nav-wrapper-shrink {
    height: 58px;
  }

  .intro-background
    {
      background-position: center;
      background-size: 120%;
      height: 166%;
      left: -7%;
      width: 116%;
    }

  #aboutUs {
    height: 620px;

    .about-us-copy {
      width: 45%;
      min-width: 377px;
      top: 50%;
      transform: translateY(-50%);
    }
    
    h1 {
    }

    p {
    }

    img {
      width: 50%;
      min-width: 320px;
    }
  }

  #whatWeDo {
    
    p {
      font-size: 14px;
      line-height: 21px;
      margin-top: 12px;
    }

    .section-wrapper {
    }

    .services-wrapper {
      
      p {
        font-size: 19px;
      }
    }

    .center-copy {
      padding: 0;
      width: 65%;
      min-width: 455px;
      margin: 0 auto;
      margin-bottom: 27px;
    }

    img {
      padding: 10px;
      width: 40%;
    }

  }

  .our-clients-background {
    background-size: 183%;
  }

}

@media screen and (max-width: $break-form-med) {

  .contact-background-element {
    background-size: 110%;
    bottom: -20%;
    height: 150%;
    width: 150%;
    left: -25%;
  }

  #contact {
    height: 802px;
    padding-bottom: 0;

    .copy-and-social-wrapper {
      display: block;
      width: 90%;
      max-width: 500px;
      min-width: 274px;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
    }

    .upper-contact-social-wrapper {
      display: none;
    }

    .lower-contact-social-wrapper {
      display: block;
      margin-top: 25px;

      img {
        margin-right: 15px;
        width: 30px;
      }
    }

    form {
      display: block;
      position: relative;
      right: 0;
      text-align: center;
      top: 0;
      width: 100%;

      input {
        font-size: 14px;
        height: 35px;
        margin: 0 0 20px 0;
        max-width: 400px;
        padding-left: 10px;
        width: 95%;
      }

      textarea {
        height: 120px;
        max-width: 400px;
        margin-bottom: 20px;
        padding: 10px 0 0 10px;
        width: 95%;
      }

      .send-button {
      }

      .send-button:hover {
      }
    }
  }

  footer {

    p {
      font-size: 13px;
    }

    .footer-nav {

      li {
        font-size: 12px;
        padding: 0 9px;
        top: 2.2px;
      }
    }
  }

}

@media screen and (max-width: $break-sm) {

  section, footer {
    padding: 70px 35px;  
  }

  h1 {
    font-size: 26px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
  }

  .intro-background
    {
      background-position: center;
      background-size: 140%;
      left: -8%;
      width: 119%;
    }

  .contact-us-background {
    height: 25px;
    padding-top: 13px;
    padding-bottom: 7px;

    .contact-us-wrapper {
      text-align: center;
      right: 0;
    }

    .email {
      margin-right: 15px;
    }

    img {
      width: 20px;
    }

    .phone img {
        top: 0;
    }

    p {
      font-size: 13px;
      margin: 0;
      position: relative;
      bottom: 4px;
    }

  }

  .primary-nav-wrapper {
    height: 60px;
    padding-top: 18px;
    padding-bottom: 18px;

    h1 {
      height: 39px;
    }

    .activ8-logo {
      width: 220px;
      margin-right: 0;
    }

    .primary-nav {
      display: block;
      bottom: 5px;
    }

    li {
      font-size: 11px;
      margin-right: 15px;
    }

    li:last-of-type {
    }

  }

  #aboutUs {
    height: 550px;

    .about-us-copy {
      display: block;
      width: 56%;
      min-width: 250px;
      top: 30%;
      transform: translateY(0%);
    }
    
    h1 {
    }

    p {
    }

    img {
      float: none;
      width: 100%;
      max-width: 450px;
      padding-top: 20px;
      top: 0;
      transform: translateY(0%);
    }
  }

  #whatWeDo {

    .section-wrapper {
    }

    p {

    }

    .services-wrapper {
      
      .col {
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 280px;
        width: 70%;
      }

      .col:last-of-type {
        margin-bottom: 0;
      }
    }

    .center-copy {
      padding: 0;
      width: 80%;
      margin-bottom: 27px;
      min-width: 275px;
    }

    img {
      padding: 0;
      padding-bottom: 15px;
      width: 100%;
      max-width: 400px;
    }

  }

  .what-we-do-background {
    background-size: 235%;
  }

  #ourClients {

    .client-copy {
      text-align: center;
      margin-bottom: 20px;
    }

    .client-logo-grid {
    }

    img {
      padding: 5px;
      width: 125px;
    }

  }

  footer {
    font-size: 12px;
    padding: 30px 35px;

    p {
      display: inline-block;
      font-size: 12px;
    }

    .footer-nav {
      display: block;
      position: relative;
      top: 3px;

      li {
        padding: 0 7px;
      }
    }
  }

}

@media screen and (max-width: $break-sm-clients-tweak) {

  .our-clients-background {
    background-size: 320%;
  }

}

@media screen and (max-width: $break-sm-footer-tweak) {

  footer {
    font-size: 12px;
    padding: 30px 35px;

    p {
      display: block;
      font-size: 12px;
      text-align: center;
    }

    .footer-nav {
      display: block;
      position: relative;
      float: none;
      text-align: center;
      top: 3px;
      margin-bottom: 10px;

      li {
        padding: 0 7px;
      }
    }
  }

}

@media screen and (max-width: $break-sm-tweak) {

  .intro-background {
    background: url("../images/header-ring-green.svg") no-repeat;
    background-position: center;
    background-size: 130%;
    height: 161%;
    left: -31%;
    width: 160%;
  }

  #aboutUs {
    height: 550px;

    .about-us-copy {
      top: 30%;
    }
  }

  .section-wrapper {
    padding: 70px 35px;
  }

  #whatWeDo {


    .center-copy {
      min-width: 285px;
    }

    .services-wrapper {
      
      .col {
      
      }

    }
  
  }

  .what-we-do-background {
    background-size: 300%;
  }

  .contact-background-element {
    background-size: 100%;
    bottom: -30%;
    height: 170%;
    width: 210%;
    left: -55%;
  }

}

@media screen and (max-width: $break-xs) {

  section, footer {
    padding: 27px 32px;  
  }

  p {
    font-size: 13bowpx;
    line-height: 20px;
  }

  .contact-us-background {
    height: 18px;
    padding-top: 18px;
    padding-bottom: 15px;

    .email {
      margin-right: 5px;
    }

    img {
      width: 17px;
    }

    .phone img {
        top: 0;
    }

    p {
      font-size: 12px;
    }
  }

  .primary-nav-wrapper {

    .activ8-logo {
      width: 225px;
    }

    .primary-nav {
      bottom: 12px;
    }

    li {
      font-size: 9.4px;
      margin-right: 6px;
    }
  }

  #aboutUs {
    height: 530px;

    img {
      width: 100%;
      min-width: 200px;
      padding-top: 30px;
      top: 0;
      transform: translateY(0%);
    }
  }

  #whatWeDo {

    p {
      font-size: 14px;
      line-height: 20px;
    }

    .upper-copy {
    }

    img {
      padding: 0;
      padding-bottom: 15px;
      width: 100%;
      max-width: 400px;
    }

    .center-copy {
      display: none;
    }
  }

  #ourClients {
  
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 13.2px;
    }

    .client-copy {
      text-align: center;
      margin-bottom: 20px;
    }

    .client-logo-grid {
    }

    img {
      padding: 5px;
      width: 115px;
    }

  }

  footer {
    font-size: 12px;

    p {
    }

    .footer-nav {
      display: block;
      float: none;
      position: relative;
      top: 6px;

      li {
        font-size: 11.4px;
        padding: 0 1px;
      }
    }
  }


}







.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
